article {
    padding: 30px 120px;
}

.title {
    padding-bottom: 30px;
}

.title > h1 {
    font-weight: bold;
    font-size: 80px;
    display: inline-block;
    padding-right: 20px;
}

.title > h2 {
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}

.form > p {
    padding-bottom: 15px;
}

.form > input {
    background-color: #EDECED;
    border: none;
    width: 80%;
    padding: 13px 15px;
}


.qrCodeField {
    margin-top: 40px;
    display: flex;
}

.qrCode {
    padding-right: 10%;
}

.colorInput {
    border: none;
    margin: 10px 0px;
    padding: 3px 8px;

    height: 30px;
    width: 70px;

    background-color: #EDECED;
}

.colorInput:hover {
    background-color: #d6d6d6;
    border-radius: 5px;
}

.downloadButton {
    background-color: #EDECED;
    
    display: block;
    border: none;
    
    margin-top: 20px;
    padding: 10px;

    font-weight: 700;
}

.downloadButton:hover {
    background-color: #d6d6d6;
    border-radius: 5px;
}

@media (max-width: 850px) {
    article {
        padding: 40px 70px;
    }

    .form > input {
        width: 90%;
    }

    .qrCodeField {
        display: block;
    }

    .qrCodeOpt {
        margin-top: 40px;
    }
}
