#errorBox {
    height: 100%;
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#errorBox > div {
    height: 50%;
}

#errorTitle {
    font-size: 50px;
    padding-bottom: 20px;
}

#errorImage {
    width: 400px;
}

.linkBack {
    padding-top: 10px;
    text-decoration: underline;
}

.linkBack:hover {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 850px) {
    #errorImage {
        width: 80%;
    }

    #errorBox {
        padding: 20px;
    
        display: flex;
        align-items: normal;
        justify-content: center;    
    }
}
